.navbar{
    padding: 0px 0px 0px 0px;
    height:56px;
    margin-bottom:5px;
    box-shadow: 0 0 4px 4px #ddd;
    background: #ffffff !important
}

.navbar .navbar-nav > li > a {
    padding: 8px 0px;
    margin: 0px;
}

.navbar-header{
    #float:left;
}

.navbar-right{
    float:right;
    display: inline-flex;;
}

.logo-container .logo{
    overflow: hidden;
    width: 200px;
    float: left;
}

.logo-container .brand{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 24px;
}
.logo-container{
    #margin-top: 8px;
}
.logo-container .logo img{
    width: 100%;
    #max-width: 48px;
    height: 56px
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.logo-container .fb-like.fb_iframe_widget span{
    vertical-align: middle !important;
}

.card-footer .hidden-xs .btn-primary, .card[data-color="nude-gray"] .card-footer .btn-primary{
    margin-right:15px;
}

.card-footer .hidden-xs .btn-info, .card[data-color="nude-gray"] .card-footer .info{
    margin-left:15px;
}

.card[data-color="white"] .title{
    text-align: center;
    color:#252422;
}

.card.tag .header.header-with-icon{
    height: 100%;
}

.img-select{
    margin:0px;
    margin-right:15px;
}

#friendModal .dropdown-menu{
    background: #7A9EA1;
}

#friendModal .dropdown-menu > li > a:hover, #friendModal .dropdown-menu > li > a:focus{
    background: #337ab7;
    color: #FFF;
}

#friendModal .dropdown-menu > li > a{
    color: #FFF;
}

.share .btn{
    margin: 20px 0px;
}

.card .title{
    min-height:50px;
}

.alert{
    margin-bottom: 0px;
}

.alert .alert-icon{
    top:70%;
}

.vertical-center{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.navbar-right li .btn-facebook.btn-fill a{
    color:#FFF;
}

.card.quizz .content p{
    font-size:14px;
    color:#000;
}

.card.quizz .content h5{
    font-size: 18px;
    color:#000;
    text-align: left;
}

.section-white-gray, .section-nude-gray{
    background: #f5f8fa;
}

.dropdown-menu{
    background: #FEFEFE;
}

@media(max-width: 768px){
    .navbar{
        padding: 4px 0px 0px 0px;
        height:40px;
        margin-bottom:5px;
        box-shadow: 0 0 4px 4px #ddd
    }

    .navbar .navbar-nav > li > a {
        padding: 4px 0px;
        margin: 0px;
    }

    .logo-container .logo{
        overflow: hidden;
        width: 30px;
        float: left;
    }

    .logo-container .brand{
        font-size: 20px;
        color: #FFFFFF;
        line-height: 30px;
        float: left;
        margin-left: 10px;
        width: 100px;
        height: 20px;
    }

    .logo-container{
        margin-top: 8px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > .dropdown-menu:after, .dropdown .dropdown-menu:after {
        border-bottom: 11px solid #FEFEFE;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -10px;
    }
}
.footer-transparent::after, .subscribe-line-transparent::after{
    background: transparent;
}

.footer-transparent{
    background: #f5f8fa;
    border-top:1px solid #eee;
    color:#999;
}

#share_btn{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    background: #3b5998 !important;
}

.share_bt {
    display: inline-block;
    margin: 5px 0 0px 0;
    padding: 12px 20px 14px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #344EA5;
    border: 2px solid #3E568B;
    border-radius: 6px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
    position: relative;
    overflow: hidden;
    background-image: url('../img/sharebt_fb_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px center;
}

.share_bt:hover{
    opacity: 0.8;
}

.sbt_twitter {
    background-color: #37A3D9;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #37A3D9;
    background-image: url('../img/sharebt_tw_bg.jpg');
}

.sbt_wa {
    background-color: #25d366;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #25d366;
    background-image: url('../img/sharebt_bg_wa.jpg');
}

.share_bt_fb {
    width: 30px;
    height: 30px;
    vertical-align: -8px;
    margin: 0 15px 0 0;
    position: relative;
}

.sbtfb_twitter {
    margin-right: 0px;
}

.retake_test_btn{
    background-color: #999;
    background-image: url('../img/retake_test_bg_3.jpg');
    border: 0;
    color:#000;
}


/* Mobile share btn */

#share_btn_mb{
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    background: #3b5998 !important;
}

.share_bt_mb {
    display: inline-block;
    margin: 5px 0 0px 0;
    padding: 12px 10px 14px 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #344EA5;
    border: 2px solid #3E568B;
    border-radius: 6px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
    position: relative;
    overflow: hidden;
    background-image: url('../img/sharebt_fb_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px center;
}

.sbt_twitter_mb {
    background-color: #37A3D9;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #37A3D9;
    background-image: url('../img/sharebt_tw_bg.jpg');
}

.sbt_wa_mb {
    background-color: #25d366;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #25d366;
    background-image: url('../img/sharebt_bg_wa.jpg');
}

.share_bt_fb_mb {
    width: 25px;
    height: 25px;
    vertical-align: -8px;
    margin: 0 15px 0 0;
    position: relative;
}

.sbtfb_twitter_mb {
    margin-right: 0px;
}

.retake_test_btn_mb{
    background-color: #999;
    background-image: url('../img/retake_test_bg_3.jpg');
    border: 0;
    color:#000;
}
/* End mobile */
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* Slider and top right side */

.new-tags{
    #height:62.5vh;
    background: #fff
}

div.new-tags div:last-child{
    margin-top: 2vh !important
}
/* /Slider and top right side  */

.thumb_container{
    transition: background 0.5s linear;
}

.thumb_container:hover{
    background-color: #fbf6d9
}

#item_on_side_in_selected_tag:hover{
    background-color: #fbf6d9;
    cursor: pointer;
}

#languages_container{
    width: 90%;
    text-align: center;
    margin:0 auto;
}

#language_item{
    padding: 5px;
}

.dropdown-menu{
    border-radius: 2px;
    padding:10px;
    padding: 2px 0;
    color:#fff !important;
    background: rgba(231,54,62, 1)
}

@media(max-width: 768px){
    .navbar-nav .open .dropdown-menu{
        background: #e7363e !important
    }
}

.dropdown-menu a{
    color:#fff !important;
}

.navbar-nav > li > .dropdown-menu{
    border-radius: 2px
}

.navbar-nav > li > .dropdown-menu:before, .dropdown .dropdown-menu:before{
    border:0;
}

.navbar-nav > li > .dropdown-menu:after, .dropdown .dropdown-menu:after{
    border: 0;
}

@media only screen and (min-width: 567px) and (max-width: 737px) and (orientation:landscape) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0%
    }
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-left: -15px;
    margin-right: -15px;
}

[class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a{
    padding:5px;
    border-radius: 3px;
}

[class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a:hover{
    opacity: 1;
    color:#fff;
    background-color: #333 !important
}

[class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a:focus{
    opacity: 1;
    color:#fff;
    background-color: #cf3037
}

.logo-container .logo-small{
    overflow: hidden;
    width: 200px;
    float: left;
}

.logo-container .logo-small img{
    width: 50px;
    height: 50px
}

@media (max-width: 768px){
    .logo-container {
        margin-top: 0px;
    }

    @media (max-width: 768px){}
    .navbar {
        padding: 0px 0px 0px 0px;
        height: 40px;
        margin-bottom: 5px;
        box-shadow: 0 0 4px 4px #ddd;
    }

